* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
main h1 {
    text-align: center;
    margin-top: 30px;
}
.form {
    border: 1px solid #dfdfdf;
    background-color: #555591;
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px 10px;
    text-align: center;
}
.form div {
    width: 90%;
    margin: 20px auto;
}
.form div input {
    width: 100%;
    padding: 7px 5px;
    outline: none;
    border: none;
}
.form button {
    padding: 7px;
    margin-top: 10px;
    cursor: pointer;
}

.listContainer, .listItemTitle {
    width: 90%;
    padding: 10px;
    margin: auto;
    background-color: #232353;
    margin-bottom: 20px;
}
.listContainer .listItem, .listItemTitle .listItem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: 10px;
    padding: 10px 20px;
    background-color: #555591;
    color: #fff;
    border: 2px solid #222;
}
.listContainer .listItem picture img {
    width: 150px;
    height: 80px;
    object-fit: contain;
}
.listContainer .listItem p, span, .listItemTitle .listItem div span {
    font-size: 1.3em;
}
.listContainer .listItem p, span, picture, h1, div {
    font-weight: 600;
    text-align: center;
}
.changeView {
    margin: 20px;
    background-color: #ebebeb;
    border: none;
    border-radius: 5px;
    padding: 8px;
}
.changeView a {
    color: #222;
    font-size: 1em;
    padding: 8px;
}
.changeView:hover {
    color: #fff;
    box-shadow: 0 5px 5px #ccc;
}