html 
    head 
        title= 'PUG'
        link(href="./style.css" rel="stylesheet" type="text/css")
    body 
        main 
            button(class='changeView') 
                a(href='/productos')= 'Ir a lista'
            h1= 'Cargar productos'
            form(action='/' method='POST' class='form')
                div 
                    input(type="text" placeholder="Nombre del producto" name="title" required)
                div 
                    input(type="number" placeholder="Precio del producto" name="price" required)
                div 
                    input(type="text" placeholder="Imagen url" name="thumbnail" required)
                button(type='submit' value='agregar')= 'Enviar'