<article class="listItemTitle">
     <div class="listItem">
        <div><span>Nombre</span></div>
        <div><span>Precio</span></div>
        <div><span>Foto</span></div>
    </div>
</article>
<article class="listContainer">

</article>
<template id="templateListProduct">
    <div class="listItem">
        <h2></h2>
        <p></p>
        <picture>
            <img src='' alt=''>
        </picture>
    </div>
</template>
    {{!-- {{#if products.length}}
    {{#each products }}
        
    {{/each}}
    {{else}}
        <h1 style="color: #fff;">Lista vacia</h1>
    {{/if}} --}}